/*Rett Putnam 4/10/22*/


body {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 15px;
    color: rgb(12, 12, 12);
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.right{
    position:static; left:0

}
.left{
    position:static; right:0
}
.float {
    float:right;

}
li { 
    font-size: 14 px;
    font-style: italic
}
a
{
    color:rgb(46, 46, 46);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.Resumelistheading {
    font-weight: bold;
    font-style: normal;
}
.underline {
    text-decoration: underline;
}
.bold{font-weight: bold;}
.big {font-size:large}

.justify{ text-align: justify;}

.homebg {background-image: url(images/Wave.jpg);
}
.Colorbg {background-color: #a318189a;}

.box1 {
    border-width: 4px;
    border-style: solid;
    border-color: white;
    
}
.box2 {
    padding:4px; /*delete this*/
}
.box3 {
    Margin:4px;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .sub {
      font-weight: lighter;
      font-size: large;
  }
.Blue{
    background-color: #F9E5BC;
}